Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -readability-identifier-naming,
  -cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include)/'
FormatStyle: none
